<script>
import 'bootstrap/dist/js/bootstrap.bundle';
import bootstrap from 'bootstrap/dist/js/bootstrap.min.js';
import "@/assets/js/jquery.bxslider.min.js";

export default {
    props: ['items'],
    data() {
        return {
            currentImages: []
        }
    },
    computed: {
        itemsProps() {
            return this.items
        }
    },
    mounted() {


        // add class active for sliders
        document.querySelector(".carousel-inner").firstElementChild.classList.add("active")

        const myCarouselElement = document.querySelector('#carouselExampleIndicators')

        const carousel = new bootstrap.Carousel(myCarouselElement, {
            wrap: false
        })

        var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 0,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,
                scrollContainer: null // optional scroll container selector, otherwise use window
            }
        );
        wow.init()

        const options = {
            mode: 'fade',
            auto: true,
            controls: false,
            speed: 300,
            pause: 3000
        }
        $(".carousel-item.active .bxslider").bxSlider(options)

        myCarouselElement.addEventListener('slid.bs.carousel', event => {

            $(".carousel-item.active .bxslider").bxSlider(options)
        })
    }

}
</script>


<template>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade liquid" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button v-for="(item, i) of itemsProps" :key="index" type="button"
                data-bs-target="#carouselExampleIndicators" :data-bs-slide-to="i" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner" id="carousel-inner">
            <div v-for="(item, index) of itemsProps" :data-bs-interval="(item.images.length * 3000)" :data-index="index"
                :key="index" class="carousel-item">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 left">
                                <div class="title"> metallic dico jacket </div>
                                <div class="price">
                                    <span> {{ item.price }} </span>
                                    <span> {{ item.price }} </span>
                                </div>
                                <div class="desc">
                                    {{ item.desc }}
                                </div>
                                <button class="btn">
                                    add to cart
                                </button>
                            </div>
                            <div class="col-6 right">
                                <div class="bxslider">
                                    <div v-for="(img, i) of item.images" :key="i">
                                        <img :src="`./src/assets/images/${img}`" class="img-fluid" />
                                        <img :src="`./src/assets/images/${img}`" class="bg img-fluid" />

                                    </div>
                                </div>
                                <div class="shapes-right">
                                    <span class="first"></span>
                                    <span class="second"></span>
                                </div>
                                <div class="shapes-left">
                                    <span class="first"></span>
                                    <span class="second"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>





<style lang="scss" scoped>
@import "@/assets/css/animate.css";

.carousel-item {
    transition: transform 0s ease, opacity 0s ease-out !important;
}

.com-img {
    height: 100%;
    width: 100% !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #350;
}

.bxslider {
    background-color: transparent;

    img {
        border-radius: 50%;
        height: 500px;
        width: 500px !important;
        margin: auto;
    }

}

.item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden !important;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0 25px;

    .row {
        padding: 0 35px;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: fadeInRight 1s ease-in-out;

        .title {
            text-transform: capitalize;
            font-family: 'IBM Plex Mono', monospace;
            position: relative;
            overflow: hidden;
            font-size: 46px;
            font-weight: 600;

        }

        .price {
            // animation: fadeInLeftBig 1s;

            span:first-child {
                font-size: 50px;
            }

            span:last-child {
                font-size: 22px;
                margin-left: 10px;
            }
        }

        .btn {
            border: 1px solid #222;
            padding: 10px 18px;
            margin-top: 15px;
            width: 170px;
        }
    }

    .right {
        // animation: fadeInRight 1s ease-in-out;
        position: relative;

        .bg-image {
            position: absolute;
            z-index: 9;
            top: 0;
            left: -20px;

        }

        img.bg {
            right: -81px;
            top: 0;
            z-index: -10;
            position: absolute;
            filter: blur(30px);
            opacity: .5;
        }

        .shapes-right {
            position: absolute;
            right: -37px;
            top: 0;
            z-index: -5;
            animation: rotateInCustom 20s infinite 0s, animateDown 8s infinite 5s;

            span {
                background-color: #fff !important;
                border-radius: 50%;
                z-index: 2;
                height: 250px;
                width: 250px;
                box-shadow: 0 0 20px rgb(238, 238, 238);
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                display: block;
                animation: liquid 5s linear infinite;
                display: block;
            }

            .second {
                transform: translatey(-15px);
            }

            .three {
                transform: translate(-95px, -170px);
            }
        }

        .shapes-left {
            position: absolute;
            left: -37px;
            top: 0;
            z-index: -5;
            animation: rotateInCustom 20s infinite 0s, animateDown 6s infinite 5s reverse;

            span {
                border-radius: 50%;
                z-index: 2;
                height: 250px;
                width: 250px;
                box-shadow: 0 0 20px #eee;
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                display: block;
                animation: liquid 5s linear infinite;
                background-color: #e1dbdb;
            }
        }
    }
}

.carousel {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    position: relative;
    height: 100%;
}

.carousel-indicators {
    button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: gray;
    }
}


@keyframes slideTitle {
    from {
        transform: translatex(90px) rotatey(-90deg)
    }

    to {
        transform: translatex(0) rotatey(0)
    }
}

@keyframes slideToUpCustom {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -400px;
    }
}

@keyframes customSlide {
    from {
        right: -100px;
    }

    to {
        right: 0;
    }
}

@keyframes bannerFadeColor {
    0% {
        background-color: transparent;
    }

    10% {
        background-color: #0aa3b19a;
    }

    25% {
        background-color: transparent;

    }

    35% {
        background-color: #0aa3b19a;

    }

    100% {
        background-color: transparent;
    }
}
</style>