<script>
import "@/assets/js/jquery.bxslider.min.js";
import 'bootstrap/dist/js/bootstrap.bundle';
import bootstrap from 'bootstrap/dist/js/bootstrap.min.js';


export default {
    props: ["items"],
    data() {
        return {
            currentImages: []
        }
    },
    computed: {
        itemsProps() {
            return this.items;
        },
    },
    mounted() {
        document
            .getElementById("carousel-inner")
            .firstElementChild.classList.add("active");

        var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 0,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,
                scrollContainer: null // optional scroll container selector, otherwise use window
            }
        );
        wow.init()

        // create bootstrap slider instance
        const myCarouselElement = document.querySelector('#carouselExampleFade')

        const carousel = new bootstrap.Carousel(myCarouselElement, {
            wrap: false
        })

        var index = document.querySelector(".carousel-item.active").getAttribute("data-index")
        var currentImage = this.itemsProps[index].images


        const options = {
            mode: 'fade',
            auto: true,
            controls: false,
            speed: 300,
            pause: 3000
        }

        $(".carousel-item.active .bxslider, .carousel-item.active .bg .bxslider").bxSlider(options)


        myCarouselElement.addEventListener("slid.bs.carousel", event => {
            $(".carousel-item.active .bxslider").bxSlider({
                ...options,
                pause: 3000,
                speed: 300
            })
        })
    },
};
</script>

<template>

    <div id="carouselExampleFade" class="carousel slide carousel-fade magazine" data-bs-ride="carousel">
        <div class="carousel-inner" id="carousel-inner">
            <div v-for="(item, index) of itemsProps" :data-index="index" :data-bs-interval="(item.images.length * 3000)"
                :key="index" class="carousel-item">
                <div class="item">
                    <div class="img"
                        :style="`animation:fadeInDownBigCustom 1s ease-out 0s, fadeOutDownBigCustom 1.2s ease-in ${((item.images.length * 3000) - 100) / 1000}s;`">
                        <div class="bxslider h-100">
                            <div class="h-100 parent" v-for="(img, index) of item.images.entries()" :key="img">
                                <img :src="`./src/assets/images/${img[1]}`" class="w-100 h-100" />
                                <span> {{ (index + 1) + " / " + item.images.length }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col6 parent details">
                        <!-- <div class="bg" :style="`animation: fadeInUpBigCustom 1s ease-out 0s;`"> -->
                        <div class="bg"
                            :style="`animation: fadeInUpBigCustom 1s ease-out 0s, fadeOutUpBigCustom 1.2s ease-in ${((item.images.length * 3000) - 200) / 1000}s;`">
                        </div>
                        <div class="info">
                            <div class="price wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">
                                <span> {{ item.price }} </span>
                                <span> {{ item.price }} </span>
                            </div>
                            <h4 class="title">

                                <p
                                    :style="`animation: fadeInLeftShort 1.1s ease-in 0s, fadeOutUpShort 1s ease-out ${((item.images.length * 3000) - 200) / 1000}s`">
                                    the birth of {{ index + 1 }} </p>
                                <p
                                    :style="`animation: fadeInLeftShort 1.1s ease-in 0s, fadeOutUpShort 1s ease-out ${((item.images.length * 3000) - 200) / 1000}s`">
                                    virtaul really </p>
                                <p
                                    :style="`animation: fadeInLeftShort 1.1s ease-in 0s, fadeOutUpShort 1s ease-out ${((item.images.length * 3000) - 200) / 1000}s`">
                                    as an art form </p>
                            </h4>
                            <span class="bar"></span>
                            <p class="para"
                                :style="`animation: fadeInUp 1.3s ease-in 0s, fadeOutUp 1s linear ${((item.images.length * 3000) - 200) / 1000}s;`">
                                {{ item.desc }}
                            </p>

                            <button
                                :style="`animation: fadeInUp 1s ease-in 0s, fadeOutUp 1s linear ${((item.images.length * 3000) - 200) / 1000}s;`"
                                type="button" class="btn">watch youtube</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/css/jquery.bxslider.css";

:root {
    --mainColor: #c4a26e;
}

.bx-controls {
    display: none !important;
}

.bxslider {
    height: 100%;
    position: relative;

    span {
        position: absolute;
        left: 0;
        top: 0;
        padding: 11px 16px;
        background-color: #111;
        color: #fff;
    }

    &>div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #050;

        img {
            width: 100%;
        }
    }
}

.carousel-item {
    padding: 50px 7%;
    background-color: var(--bs-gray-200);
    transition: transform 0s ease, opacity 0s ease-out;

    .item {
        display: flex;

        &>div {
            height: 680px;
        }

        .img {
            width: 50%;
        }

        .details {
            text-align: center;
            width: 50%;
            padding: 20px;
            align-items: center;
            position: relative;

            .bg {
                background-color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
            }

            .info {
                height: 100%;
                position: relative;
                z-index: 5;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .price {
                    position: absolute;
                    top: 19px;
                    left: -55px;
                    z-index: 9000;
                    background: #eee;
                    padding: 9px 19px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;

                    &>span:first-child {
                        padding: 4px 4px;
                        font-weight: 600;
                        font-size: 20px;
                        border-bottom: 1px solid #222;
                    }

                    &>span:last-child {
                        padding: 4px 12px;
                        font-weight: 600;
                        font-size: 12px;
                    }
                }

                .title {
                    padding: 0 100px;
                    letter-spacing: 6px;
                    line-height: 1.6;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 29px;
                }


                .para {
                    text-transform: capitalize;
                    line-height: 2.2;
                    padding: 15px 17px;
                    text-align: left;

                }

                .bar {
                    height: 3px;
                    width: 92px;
                    background-color: #c4a26e;
                    display: block;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 15px;

                }

                .btn {
                    padding: 13px;
                    text-align: center;
                    width: 210px;
                    border: 2px solid #c4a26e;
                    border-radius: 0;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 600;
                    color: #c4a26e;


                }
            }
        }
    }
}

@keyframes showWidthAnimate {
    to {
        width: 0px;
    }

    from {
        width: 92px;
    }
}

@keyframes hideWithAnimate {
    to {
        width: 92px;
    }

    from {
        width: 0px;
    }
}
</style>
