<script>
import 'bootstrap/dist/js/bootstrap.bundle';
import bootstrap from 'bootstrap/dist/js/bootstrap.min.js';
import "@/assets/js/jquery.bxslider.min.js";

export default {
    props: ['items'],
    data() {
        return {
            currentImages: []
        }
    },
    computed: {
        itemsProps() {
            return this.items
        }
    },
    mounted() {
        setTimeout(function () {
            $(".banner").addClass("fade")
        }, 800)
        const slideTextPara = function () {
            $(".desc").each(function () {
                const ourDiv = $(this)
                const ourText = ourDiv.text().split("")
                ourDiv.text(" ")
                var i = 0
                const FadeOurText = setInterval(function () {

                    if (i >= ourText.length) {
                        clearInterval(FadeOurText)
                    } else {
                        ourDiv.append(`<span class='wow slideInRight' data-wow-duation=".7s">${ourText[i]}</span>`)
                    }
                    i++
                }, 20)
            })

        }
        slideTextPara()

        // add class active for sliders
        document.getElementById("carousel-indicators").firstElementChild.classList.add("active")
        document.getElementById("carousel-inner").firstElementChild.classList.add("active")

        const myCarouselElement = document.querySelector('#carouselExampleIndicators')

        const carousel = new bootstrap.Carousel(myCarouselElement, {
            wrap: false
        })

        var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 0,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,
                scrollContainer: null // optional scroll container selector, otherwise use window
            }
        );
        wow.init()


        const options = {
            mode: 'fade',
            auto: true,
            controls: false,
            speed: 300,
            pause: 3000
        }

        $(".carousel-item.active .bxslider").bxSlider({
            ...options,
            pause: 3000,
            speed: 300
        })

        myCarouselElement.addEventListener('slid.bs.carousel', event => {
            $(".carousel-item.active .bxslider").bxSlider({
                ...options,
                pause: 3000,
                speed: 300
            })

            var currentIndex = $(".carousel-item.active").data("index")
            console.log(currentIndex)

            $(".pollets").eq(currentIndex).addClass("bg-success").siblings().removeClass("bg-success");
        })
    }

}
</script>


<template>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators wow fadeInUp" data-wow-duration=".4s" id="carousel-indicators">
            <button v-for="(it, index) of itemsProps" type="button" data-bs-target="#carouselExampleIndicators"
                :data-bs-slide-to="index" class="" aria-current="true" aria-label="Slide 1">
                <div class="indicator">
                    <div class="left">
                        <img :src="`./src/assets/images/${it.images[0]}`" class="img-fluid" />
                    </div>
                    <div class="right">
                        <h4> {{ it.price }} </h4>
                        <p> {{ it.title }} </p>
                    </div>
                </div>
            </button>
        </div>
        <div class="carousel-inner" id="carousel-inner">
            <div v-for="(item, index) of itemsProps" data-index="index" :data-bs-interval="(item.images.length * 3000)"
                :data-index="index" :key="index" class="carousel-item">
                <div class="images text-center">
                    <div v-for="(img, idx) of item.images.entries()" :class="index == idx ? 'bg-success' : ''" :key="idx"
                        class="pollets mt-3 rounded-circle">
                    </div>
                </div>
                <div class="item">
                    <div class="progress"
                        :style="`animation: progressAnimate ${(item.images.length * 3000) / 1000}s linear;`">
                    </div>
                    <div class="bg">
                        <div class="bxslider">
                            <div v-for="[ind, img] of item.images.entries()" :key="ind" class="h-100 img"
                                :style="`background-image: url('./src/assets/images/${img}')`">
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-7">
                                <div class="price">
                                    <span>{{ item.price }} </span> <span> {{ item.price }} {{ index + 1 }}
                                    </span>
                                </div>
                                <h1 class="title parent">
                                    <div> {{ item.title }} </div> <span></span>
                                </h1>
                                <div class="desc"> {{
                                        item.desc
                                }} </div>
                            </div>
                            <div class="col-5 right">
                                <div class="paren-img">
                                    <div class="bxslider text-center">
                                        <div v-for="[index, image] of item.images.entries()" :key="index"
                                            :style="`background-image:url('./src/assets/images/${image}')`"
                                            class="img text-center">
                                            {{ (index + 1) + " / " + item.images.length }}
                                        </div>
                                    </div>
                                </div>

                                <button class="banner">
                                    get the revolation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>





<style lang="scss" scoped>
@import "@/assets/css/animate.css";

.carousel-item {
    transition: transform 0s ease, opacity 0s ease-out !important;
}

.indicator {
    display: flex;
    background-color: #eee;

    &>div {
        backdrop-filter: blur(30px);
        text-align: left;
    }

    &>div:first-child {
        width: 35%;

        img {
            height: 72px;
            width: 100%;
        }
    }

    &>div:last-child {
        width: 75%;
        padding: 8px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #777;
        transition: all .4s;
        text-transform: capitalize;

        &:hover {
            background-color: #00ffee;

        }

        h4 {
            font-size: 17px;
            padding: 0;
            margin-bottom: 2px;
        }

        p {
            font-size: 12px;
            margin: 0;
            backdrop-filter: blur(30px);
        }
    }
}

.carousel-indicators button {
    width: 220px;
    height: 72px;
    background-color: #eee;
    text-indent: 0;
    border: 0;
    overflow: hidden;
}

.images {
    .pollets {
        width: 15px;
        height: 15px;
        background-color: #fff;
    }
}


.item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden !important;

    .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background-color: rgba(255, 255, 255, .4);
        backdrop-filter: blur(50px);
        width: 100%;
        z-index: 90;
        box-shadow: 0px 0px 5px #fff;

    }

    @keyframes progressAnimate {
        from {
            width: 0;
        }

        to {
            width: 100%
        }
    }

    .container {
        position: relative;
    }

    &>.bg {
        background: #050;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100vh !important;
        width: 100%;
        z-index: 9000;
        z-index: -2;

        .bxslider {
            width: 100%;
            height: 100vh;
            overflow: hidden;

            >div {
                position: absolute;
                left: -5px;
                right: -5px;
                top: 0;
                z-index: -1;
                width: 101%;
                height: calc(100vh + 600px);
                background-size: cover;
                animation: slideToUpCustom 20s infinite linear;
                filter: blur(10px);
            }
        }
    }

    .row {
        padding: 0 130px;
        color: #fff;
    }

    .col-7 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: monospace;

        &>div:last-child {
            min-height: 79px;

            span {
                animation: slideInRight .5 linear 0s;
            }
        }
    }


    .title {
        text-transform: capitalize;
        font-family: 'IBM Plex Mono', monospace;
        position: relative;
        overflow: hidden;
        width: 80%;


        div {
            animation: slideInRightCusom .8s linear;
        }

        span {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 0;
            z-index: 2;
            animation: hideSpan 1.3s linear;
        }

        @keyframes hideSpan {
            from {
                width: 40%;
            }

            to {
                width: 0%;
            }
        }

    }

    .price {
        animation: fadeInLeftBig 1s;
        color: rgb(0 255 238);

        span:first-child {
            font-size: 50px;
        }

        span:last-child {
            font-size: 22px;
        }
    }

    .right {
        .paren-img {
            overflow: hidden;
            transform: skewY(-5);
            width: 350px;
            transform: skewX(-5deg) translateX(-140px);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            bottom: 0;
            animation: customSlide 1s ease-in-out;



            .img {
                min-height: 680px;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                min-height: 510px;
                background-color: red;
                transform: skewx(5deg);
                width: 176% !important;
                height: 600px;
                margin-left: -30px;

                img {
                    height: 680px;
                    width: 100%;
                }
            }
        }


        .banner {
            position: absolute;
            bottom: 25%;
            text-transform: capitalize;
            background-color: transparent;
            padding: 15px 16px;
            font-size: 16px;
            right: -30px;
            opacity: 0;
            transition: opacity 1s 2s;
            animation: bannerFadeColor 8s infinite 2s;
            border: 1px solid #fff;
            width: 220px;
            text-align: center;
            color: #fff;
            backdrop-filter: blur(25px);
            transform: translateX(-144px);
        }

        .banner.fade {
            opacity: 1
        }
    }
}

.carousel {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    position: relative;
    height: 100%;


    .images {
        position: absolute;
        left: 150px;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 80000;

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 10px 0;
        }
    }
}

.carousel-item .container {
    align-items: center;
    height: 100vh;
}

.carousel-item>img {
    width: 100%;
    height: 100vh;
}


@keyframes slideTitle {
    from {
        transform: translatex(90px) rotatey(-90deg)
    }

    to {
        transform: translatex(0) rotatey(0)
    }
}

@keyframes slideToUpCustom {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -400px;
    }
}

@keyframes customSlide {
    from {
        right: -100px;
    }

    to {
        right: 0;
    }
}

@keyframes bannerFadeColor {
    0% {
        background-color: transparent;
    }

    10% {
        background-color: #0aa3b19a;
    }

    25% {
        background-color: transparent;

    }

    35% {
        background-color: #0aa3b19a;

    }

    100% {
        background-color: transparent;
    }
}


.item .container {
    display: flex;
    align-items: center;
    padding: 0 25px;
}
</style>