<script>
import 'bootstrap/dist/js/bootstrap.bundle';
import "@/assets/js/jquery.bxslider.min.js";

export default {
    props: ['items'],
    data() {
        return {
            currentImages: []
        }
    },
    computed: {
        itemsProps() {
            return this.items
        }
    },
    mounted() {



        // add class active for sliders
        const ourCarousel = document.getElementById("carouselExampleSlidesOnly")
        const container = document.getElementById("carousel-inner")
        var items = Array.from(document.querySelectorAll(".carousel-inner > .carousel-item"))
        console.log("item length", items.length)
        container.firstElementChild.classList.add("active")

        var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 0,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,
                scrollContainer: null // optional scroll container selector, otherwise use window
            }
        );
        wow.init()

        const options = {
            mode: "vertical",
            // auto: true,
            moveSlides: 1,
            slideMargin: 10,
            infiniteLoop: true,
            // minSlides: 3,
            speed: 300,
            pause: 1200,
            nextText: "next",
            minSlides: 1,
            maxSlides: 1,
            controls: false,
            pager: false
        }

        var slider = $(".bxslider").bxSlider(options)
        slider.goToSlide(1)

        ourCarousel.addEventListener('slid.bs.carousel', event => {
            $(".bxslider").bxSlider(options)

            var currentIndex = $(".carousel-item.active").data('index')

            if (currentIndex == 0) {
                currentIndex = 1
            } else if (currentIndex >= items.length - 1) {
                currentIndex = 0
            } else {
                currentIndex = currentIndex + 1
            }
            slider.goToSlide(currentIndex)
        })
    }

}
</script>


<template>
    <div id="carouselExampleSlidesOnly" class="carousel carousel-fade slide sneaker" data-bs-ride="carousel">


        <div class="newSlider">
            <div>
                <div class="bxslider">
                    <div v-for="(it, id) of itemsProps" class="item-img">
                        <div>
                            <img :src="`./src/assets/images/${it.images[0]}`" class="img-fluid" />
                        </div>
                        <div>
                            <p class="text-capitalize">{{ it.title.substring(0, 12) + "..." }}</p>
                            <p>{{ it.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="carousel-inner" class="carousel-inner">
            <div v-for="(item, index) of itemsProps" :data-index="index" :data-bs-interval="4000" :key="index"
                class="carousel-item">
                <div class="item">
                    <div class="content">

                        <div class="item-slide text-center">
                            <h3 :style="`animation: fadeInRightBig 1.8s ease-in-out 0s, fadeOutLeftBig 1s ease-in-out 4.7s`"
                                class="title"> {{ item.title }} </h3>
                            <img :style="`animation: fadeInLeftBig 1.7s ease-in-out 0s,
                            fadeOutRightBig 1s ease-in-out 4.8s`" :src="`/src/assets/images/${item.images[0]}`" />
                        </div>

                        <div class="info">
                            <div class="row">
                                <div class="left col-7">
                                    <div class="price">
                                        <span>{{ item.price }} </span>
                                        <span>{{ item.price }} </span>
                                    </div>
                                    <div class="desc">
                                        {{ item.desc }}
                                    </div>
                                </div>
                                <div class="right col-5">
                                    <button class="btn"> bug now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style lang="scss" scoped>
@keyframes animateUpDown {
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-5px);
    }

    100% {
        transform: translatey(0);
    }
}

.item-img.active {
    border-right: 20px !important;
    margin-right: 50px;
}

.newSlider {
    position: absolute;
    right: 75px;
    top: 120px;
    z-index: 90;
    text-align: center;
    width: 100px;
    // height: 320px;
    bottom: 0;
    overflow: hidden;
    padding-top: 10px;

    .item-img {
        background-color: #fff !important;
        border-radius: 15px;
        overflow: hidden;

        &.active:first-child {
            border-top: 2px solid #3D5995;
            opacity: .5;
            margin-right: 60px;
        }

        &>div {
            height: 50%;

            &:first-child {
                background: #222;
            }

            img {
                height: 100%;
                width: 70% !important;
                margin: auto;
                display: block;

            }

            p {
                margin: 0;
                padding: 0;
                font-size: 12px;

                &:first-child {
                    font-weight: 600;
                }
            }
        }
    }
}

.carousel-indicators {
    left: auto;
    // background-color: #050;
    top: 0;
    right: 80px;
    display: flex;
    flex-direction: column;
    width: auto !important;



    button {
        width: 110px;
        height: 95px;
        border-radius: 18px !important;
        // background-color: transparent;
        overflow: hidden;
        text-indent: 0;
        outline: none;

        div {
            height: 50%;

            img {
                width: 90% !important;
                height: 100%;
                margin: auto;
                display: block;
            }

            &:first-child {
                background: #363636;
                height: 60%;
            }

            &:last-child {
                padding: 3px;
                background: #F3F3F3;
            }

            p {
                margin: 0;
                font-size: 11px;


            }
        }


    }

}

.carousel-item {
    transition: transform 0s ease, opacity 0s ease-out !important;
}

.item {
    background: #3D5995;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;

    .content {
        width: 45%;
        margin: auto;


        .item-slide {
            height: 200px;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            margin-top: -170px;

            img {
                width: 400px;
                position: absolute;
                z-index: 2;

            }

            h3 {
                z-index: 30;
                font-size: 40px;
                color: #fff;
                position: relative;
                z-index: 5;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                text-transform: uppercase;
                min-width: 300px;
            }
        }

        .info {
            position: absolute;
            bottom: 50px;
            animation:
                fadeInUp .8s ease-out;
            right: 27%;
            left: 27%;
        }

        .price {

            span:first-child {
                font-size: 50px;
            }

            span:last-child {
                font-size: 22px;
                margin-left: 10px;
            }
        }

        .btn {
            border: 1px solid #222;
            padding-bottom: 18px;
            margin-top: 15px;
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .btn {
                border: 0;
                color: #fff;
                border-bottom: 1px solid #fff;
                text-transform: capitalize;
                padding-left: 0 !important;
                padding-right: 0 !important;
                border-radius: 0;

                &:hover {
                    background-color: #3D5995;
                }
            }
        }
    }
}
</style>