@import "@/assets/css/newAnimate.css";
@import "@/assets/css/jquery.bxslider.css";
@import "@/assets/css/animate.css";

.paren-img,
.magazine {
  .bx-wrapper,
  .bx-viewport {
    border: 0 !important;
    height: 100% !important;
  }
}

.bx-wrapper {
  background: transparent !important;
  border: 0;
  box-shadow: none;
}

.sneaker {
  .bx-viewport {
    overflow: hidden !important;
    height:320px !important;
  }
  .bx-wrapper {
    background: transparent !important;
    border: 0;
    box-shadow: none;
    .bx-pager {
      top: 0;
      bottom: auto;
    }
  }
}
.magazine,
.liquid {
  .bx-wrapper .bx-pager {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -45px;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: auto;
    height: 100%;
    justify-content: center;
    a {
      margin-top: 13px;
      transform: scale(1.2);
      &.active {
        background-color: #050;
      }
    }
  }
}

.liquid {
  .bx-wrapper {
    background: transparent;
    border: 0;
    box-shadow: none;
    .bx-viewport {
      overflow: unset !important;
    }

    .bx-viewport {
      border: 0;
    }
  }

  .bx-pager {
    left: 105% !important;
    top: 0;
    display: none;
  }
}

.parent {
  position: relative;
}
